body {
  background: url('../images/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.header {
  position: absolute;
  left: 38%;
  top: 5%;
}

.social {
  position: absolute;
  top: 80%;
  left: 48%;
  width: 30%
}

.social img {
  width: 15%;
  height: 15%;
}
